{% extends 'newsportal/default.html' %}
{% load poll_extras %}


{% block title %}
{{ post.header_news }}

{% endblock title %}


{% block content %}


<h3>Chapter: {{ post.choice_category}}. {{ post.date_time_auto | date:'M d Y' }}</h3>
<h3></h3>
<table>

    <tr>
        <td><h3>Header</h3></td>
        <td><h3>Description</h3></td>
        <td><h3>Category</h3></td>
        <td><h3>Author</h3></td>
    </tr>
    <tr>
        <td>{{ x| title }}</td>
        <td>{{ post.post_text| censor }}</td>
        <td>
            {% for category in post.category.all %}
                {{ category.category_name }}
                {% if category.id not in subscriptions %}
                    <a href="/posts/subscribe/{{ category.id }}" class="btn btn-secondary">
                        Subscribe to {{ category.category_name }} news
                    </a>
                {% else %}
                    <a href="/posts/unsubscribe/{{ category.id }}" class="btn btn-secondary">
                        Unsubscribe to {{ category.category_name }} news
                    </a>
                {% endif %}
            </p>
            {% endfor %}
            {% if request.user.username == post.author.user.username %}
            <small><a href="{% url 'post_edit' post.pk %}" class="btn btn-secondary">Edit</a></small>
            <small><a href="{% url 'post_delete' post.pk %}" class="btn btn-secondary">Delete</a></small>
            {% endif %}
        </td>
        <td>{{ post.author.user.username }}</td>


    </tr>
</table>

<br/>
{% if request.user.is_authenticated %}
{% csrf_token %}

{% endif %}
<a href="{% url 'home' %}" class="btn btn-secondary">
    Back</a>
{% endblock content %}